:root,
[data-theme='light'] {
  --accent-1: var(--orange-1);
  --accent-2: var(--orange-2);
  --accent-3: var(--orange-3);
  --accent-4: var(--orange-4);
  --accent-5: var(--orange-5);
  --accent-6: var(--orange-6);
  --accent-7: var(--orange-7);
  --accent-8: var(--orange-8);
  --accent-9: var(--orange-9);
  --accent-10: var(--orange-10);
  --accent-11: var(--orange-11);
  --accent-12: var(--orange-12);

  --tomato-9-contrast: #fff;
  --red-9-contrast: #fff;
  --ruby-9-contrast: #fff;
  --crimson-9-contrast: #fff;
  --pink-9-contrast: #fff;
  --plum-9-contrast: #fff;
  --purple-9-contrast: #fff;
  --violet-9-contrast: #fff;
  --iris-9-contrast: #fff;
  --indigo-9-contrast: #fff;
  --blue-9-contrast: #fff;
  --cyan-9-contrast: #fff;
  --teal-9-contrast: #fff;
  --jade-9-contrast: #fff;
  --green-9-contrast: #fff;
  --grass-9-contrast: #fff;
  --orange-9-contrast: #fff;
  --brown-9-contrast: #fff;
  --sky-9-contrast: #1c2024;
  --mint-9-contrast: #1a211e;
  --lime-9-contrast: #1d211c;
  --yellow-9-contrast: #21201c;
  --amber-9-contrast: #21201c;
  --gold-9-contrast: #fff;
  --bronze-9-contrast: #fff;
  --gray-9-contrast: #fff;

  [data-accent='brand'] {
    --accent-9-contrast: var(--orange-9-contrast);
    --accent-1: var(--orange-1);
    --accent-2: var(--orange-2);
    --accent-3: var(--orange-3);
    --accent-4: var(--orange-4);
    --accent-5: var(--orange-5);
    --accent-6: var(--orange-6);
    --accent-7: var(--orange-7);
    --accent-8: var(--orange-8);
    --accent-9: var(--orange-9);
    --accent-10: var(--orange-10);
    --accent-11: var(--orange-11);
    --accent-12: var(--orange-12);
  }

  [data-accent='gray'] {
    --accent-9-contrast: var(--gray-9-contrast);
    --accent-1: var(--gray-1);
    --accent-2: var(--gray-2);
    --accent-3: var(--gray-3);
    --accent-4: var(--gray-4);
    --accent-5: var(--gray-5);
    --accent-6: var(--gray-6);
    --accent-7: var(--gray-7);
    --accent-8: var(--gray-8);
    --accent-9: var(--gray-9);
    --accent-10: var(--gray-10);
    --accent-11: var(--gray-11);
    --accent-12: var(--gray-12);
  }
  [data-accent='dark-gray'] {
    --accent-9-contrast: var(--gray-9-contrast);
    --accent-1: var(--gray-1);
    --accent-2: var(--gray-2);
    --accent-3: var(--gray-3);
    --accent-4: var(--gray-4);
    --accent-5: var(--gray-5);
    --accent-6: var(--gray-6);
    --accent-7: var(--gray-7);
    --accent-8: var(--gray-8);
    --accent-9: var(--gray-9);
    --accent-10: var(--gray-10);
    --accent-11: var(--gray-11);
    --accent-12: var(--gray-12);
  }

  [data-accent='success-green'] {
    --accent-9-contrast: var(--lime-9-contrast);
    --accent-1: var(--lime-1);
    --accent-2: var(--lime-2);
    --accent-3: var(--lime-3);
    --accent-4: var(--lime-4);
    --accent-5: var(--lime-5);
    --accent-6: var(--lime-6);
    --accent-7: var(--lime-7);
    --accent-8: var(--lime-8);
    --accent-9: var(--lime-9);
    --accent-10: var(--lime-10);
    --accent-11: var(--lime-11);
    --accent-12: var(--lime-12);
  }
  [data-accent='warning-yellow'] {
    --accent-9-contrast: var(--yellow-9-contrast);
    --accent-1: var(--yellow-1);
    --accent-2: var(--yellow-2);
    --accent-3: var(--yellow-3);
    --accent-4: var(--yellow-4);
    --accent-5: var(--yellow-5);
    --accent-6: var(--yellow-6);
    --accent-7: var(--yellow-7);
    --accent-8: var(--yellow-8);
    --accent-9: var(--yellow-9);
    --accent-10: var(--yellow-10);
    --accent-11: var(--yellow-11);
    --accent-12: var(--yellow-12);
  }
  [data-accent='error-red'] {
    --accent-9-contrast: var(--red-9-contrast);
    --accent-1: var(--red-1);
    --accent-2: var(--red-2);
    --accent-3: var(--red-3);
    --accent-4: var(--red-4);
    --accent-5: var(--red-5);
    --accent-6: var(--red-6);
    --accent-7: var(--red-7);
    --accent-8: var(--red-8);
    --accent-9: var(--red-9);
    --accent-10: var(--red-10);
    --accent-11: var(--red-11);
    --accent-12: var(--red-12);
  }
  [data-accent='purple'] {
    --accent-9-contrast: var(--purple-9-contrast);
    --accent-1: var(--purple-1);
    --accent-2: var(--purple-2);
    --accent-3: var(--purple-3);
    --accent-4: var(--purple-4);
    --accent-5: var(--purple-5);
    --accent-6: var(--purple-6);
    --accent-7: var(--purple-7);
    --accent-8: var(--purple-8);
    --accent-9: var(--purple-9);
    --accent-10: var(--purple-10);
    --accent-11: var(--purple-11);
    --accent-12: var(--purple-12);
  }
  [data-accent='blue'] {
    --accent-9-contrast: var(--blue-9-contrast);
    --accent-1: var(--blue-1);
    --accent-2: var(--blue-2);
    --accent-3: var(--blue-3);
    --accent-4: var(--blue-4);
    --accent-5: var(--blue-5);
    --accent-6: var(--blue-6);
    --accent-7: var(--blue-7);
    --accent-8: var(--blue-8);
    --accent-9: var(--blue-9);
    --accent-10: var(--blue-10);
    --accent-11: var(--blue-11);
    --accent-12: var(--blue-12);
  }
}
