@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Code for Firefox */
  ::-moz-selection {
    color: #4842c4;
    background: rgb(98 91 246 / 20%);
  }

  ::selection {
    color: #4842c4;
    background: rgb(98 91 246 / 20%);
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
  }

  :root {
    --gold-gradient: linear-gradient(
      91.91deg,
      #cf862d 2.24%,
      #eaaa4a 51.74%,
      #cf862d 101.16%
    );
    --perk-software-gradient: linear-gradient(225deg, #ffa843 0%, #ff6243 100%);
    --perk-discord-gradient: linear-gradient(225deg, #5865f2 0%, #3e48c2 100%);
    --perk-content-gradient: linear-gradient(225deg, #649bee 0%, #005eeb 100%);
    --perk-file-gradient: linear-gradient(225deg, #fd57a5 0%, #f00046 100%);
    --perk-link-gradient: linear-gradient(225deg, #f2c935 0%, #da942c 100%);
    --perk-custom-gradient: linear-gradient(225deg, #87e293 0%, #00b400 100%);
    --perk-telegram-gradient: linear-gradient(225deg, #56a8e8 0%, #4e9bd4 100%);
    --perk-proxy-gradient: linear-gradient(225deg, #ff6243 0%, #b72f14 100%);
    --perk-course-gradient: linear-gradient(225deg, #7737df 0%, #551cb4 100%);
    --perk-ebook-gradient: linear-gradient(225deg, #50ddb3 0%, #0bad7c 100%);
    --perk-tradingview-gradient: linear-gradient(
      225deg,
      #5fb0df 0%,
      #1131f3 100%
    );
  }

  ul,
  ol {
    list-style: revert;
  }
}
