.fui-Label {
  display: flex;
  align-items: center;
}

.fui-Label-root {
  margin-right: 0.375rem;
}
.fui-Label-root_variant--default {
  color: var(--gray-500);
}
.fui-Label-root_variant--emphasized {
  color: black;
}
