.fui-EmptyState {
  width: 100%;
  padding: 1.5rem 2.5rem;
  /* TODO: background color token */
  background-color: white;
  border-radius: 0.625rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  color: var(--gray-950);
}

.fui-EmptyState--show-border {
  border-color: var(--gray-300);
}

.fui-EmptyState-layout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fui-EmptyState-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid var(--gray-300);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.fui-EmptyState-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--gray-700);
  animation: var(--fui-pulse-animation);
}

.fui-EmptyState-description {
  color: var(--gray-700);
  margin-top: 0.25rem;
}

.fui-EmptyState-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
